/game-player/bin/
/game-player/obj/
/game-player/game-player.layout
/game-master/bin/
/game-master/obj/
/game-master/game-master.layout
/game-controller/bin/
/game-controller/obj/
/game-controller/game-controller.layout
